:root {
  --debugging-color: #3ee33e;
  --main-color: #106276;
  --secondary-color: #A90641;
  --bg-color: #FCFAD0;
  --light-grey: #A1A194;
  --medium-grey: #5B605F;
  --dark-grey: #5B605F;
}
*:hover {
  transition: all 300ms ease;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
body {
  font-size: 1.5em;
  height: 100vh;
  color: var(--dark-grey);
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: auto;
  grid-template-areas: "left top" "left bottom";
}
.hide-menu {
  grid-template-columns: 0 auto;
}
.hide-menu aside {
  display: none;
}
a, a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover, a:active {
  color: var(--main-color);
  text-decoration: none;
}
aside {
  grid-area: left;
  font-size: 1rem;
  color: var(--bg-color);
  background-color: var(--main-color);
}
header {
  grid-area: top;
  align-self: start;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
}
h2 {
  margin: 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: .25rem;
}
h4 {
  color: var(--light-grey);
  text-transform: uppercase;
  padding: 2em .6em .6em .6em;
  margin-top: .6em;
  border-top: 3px groove var(--light-grey);
}
h6 {
  color: var(--dark-grey);
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 25%;
}
ul {
  list-style-type: none;
}
main {
  grid-area: bottom;
  background-color: var(--bg-color);
}
nav {
  padding: 0 3rem;
  font-size: .8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav a {
  padding: .5rem;
  padding-top: 0;
  color: var(--dark-grey);
  text-transform: uppercase;
  border-bottom: 4px solid white;
}
nav a:hover {
  border-bottom: 4px solid var(--main-color);
}
nav .active {
  border-bottom: 4px solid var(--secondary-color);
  font-weight: 600;
}
.search-bar label {
  position: absolute;
  z-index: -1;
  left: 3.2rem;
  font-size: 1rem;
}
.search-bar input {
  width: 10%;
  margin: 0 1rem;
  padding: .3rem;
  font-size: 1.2rem;
  outline: none;
  border: 0;
}
.search-bar input:focus {
  width: 100%;
  border-bottom: 2px solid var(--secondary-color);
  border-radius: 0;
  margin-top: .5rem;
  transition: all 500ms ease;
}
.search-bar input:not(:focus) {
  transition: all 500ms ease;
}
.search-bar input:focus+label {
  left: 1rem;
  top: .4rem;
  font-size: .7rem;
  transition: all 500ms ease;
}
.search-bar input:focus::placeholder {
  color: white;
}
.profile {
  padding: 1em;
  text-align: center;
}
.profile img {
  width: 50%;
  border-radius: 50%;
  margin: 1em;
  border: 1px solid var(--secondary-color);
}
.aside-nav li {
  padding: .1em .6em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: .8rem;
}
.aside-nav li:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
.aside-nav li i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1rem;
  margin-right: .5rem;
  border-radius: 50%;
  transform: rotate(45deg);
  transition: all 300ms ease;
}
.aside-nav li:hover i {
  z-index: 10;
  margin-right: 1rem;
  margin-left: .5rem;
  transform: rotate(0deg) scale(1.7);
  color: var(--secondary-color);
  background-color: var(--bg-color);
  border: 1px solid var(--secondary-color);
  box-shadow: 2px 2px 4px #000;
}
.search-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 3rem auto 3rem 3rem 3rem;
  grid-template-rows: 3rem;
  grid-template-areas: "hamburger search profile calendar apps";
  border-bottom: 1px solid var(--medium-grey);
}
.search-bar img {
  height: 1rem;
}
.search-bar span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar i {
  font-size: 1.3rem;
  transition: all 300ms ease;
}
.search-bar span:hover i {
  z-index: 10;
  color: var(--bg-color);
  transform: scale(1.7);
  text-shadow: 2px 2px 4px #000;
}
.hamburger-bug {
  grid-area: hamburger;
  border-right: 1px solid var(--medium-grey);
}
.search-field {
  grid-area: search;
  position: relative;
  justify-content: flex-start !important;
}
.search-field input {
  background: url("images/magnifier.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.search-field input:focus {
  background-position: right;
}
.profile-bug {
  grid-area: profile;
  border-left: 1px solid var(--medium-grey);
}
.calendar-bug {
  grid-area: calendar;
  border-left: 1px solid var(--medium-grey);
}
.apps-bug {
  grid-area: apps;
  border-left: 1px solid var(--medium-grey);
}
.hamburger-bug:hover, .profile-bug:hover, .calendar-bug:hover, .apps-bug:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
.header-content {
  padding: 3rem;
}
.header-content p {
  font-size: .8rem;
}
.charts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left-chart, .right-chart {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}
.chart-collapse {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 3rem;
}
.flaticon-next {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  color: var(--bg-color);
  background-color: var(--medium-grey);
  border: 1px solid var(--medium-grey);
  border-radius: 50%;
  transform: rotate(90deg);
  transition: all 300ms ease;
}
.flaticon-next:hover {
  cursor: pointer;
  z-index: 10;
  transform: scale(1.5) rotate(-90deg);
  color: var(--medium-grey);
  background-color: var(--bg-color);
  border: 1px solid var(--medium-grey);
  box-shadow: -2px 2px 4px #000;
}
.icon-reverse {
  transform: rotate(-90deg);
}
.icon-reverse:hover {
  transform: scale(1.5) rotate(90deg);
  box-shadow: 2px -2px 4px #000;
}
.chart-collapse hr {
  width: 50%;
  color: var(--dark-grey);
}
.main-area {
  display: grid;
  align-self: stretch;
  grid-template-columns: auto 25%;
  grid-template-areas: "content sidebar";
  grid-column-gap: 3rem;
  padding: 0 3rem 2rem 3rem;
  grid-area: main;
}
.main-content {
  grid-area: content;
  border-radius: .25rem;
}
.main-content ul {
  background-color: white;
}
.main-content li {
  margin: 0 1rem;
  padding: 1rem 0;
  font-size: 1rem;
  display: flex;
  border-bottom: 1px solid var(--medium-grey);
}
.main-content li:last-child {
  border-bottom: 0px;
}
.main-content li p {
  width: 75%;
  display: flex;
  align-items: center;
}
.main-content li img {
  height: 1.5em;
  margin-right: .5rem;
  border-radius: 50%;
}
.content-sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "social" "link" "widget" "upload";
}
.social-media {
  grid-area: social;
}
.link {
  grid-area: link;
}
.widget {
  grid-area: widget;
}
.upload {
  grid-area: upload;
}
.facebook, .twitter, .linkedin {
  padding: .7rem;
  text-align: center;
  font-size: 1.1rem;
  color: white;
  margin-bottom: .75rem;
  border-radius: .25rem;
}
.facebook i, .twitter i, .linkedin i {
  float: left;
  transition: all 500ms ease;
}
.facebook:hover, .twitter:hover, .linkedin:hover {
  box-shadow: 2px 2px 8px #000;
  cursor: pointer;
}
.facebook:hover i, .twitter:hover i, .linkedin:hover i {
  transform: scale(1.3);
}
.facebook {
  background: linear-gradient(0deg, #3b5998, #5573b3);
}
.twitter {
  background: linear-gradient(0deg, #00b6f1, #43c8f4);
}
.linkedin {
  background: linear-gradient(0deg, #007bb6, #33a0d5);
}
.facebook:hover {
  background: linear-gradient(0deg, #5573b3, #3b5998);
}
.twitter:hover {
  background: linear-gradient(0deg, #43c8f4, #00b6f1);
}
.linkedin:hover {
  background: linear-gradient(0deg, #33a0d5, #007bb6);
}
.side-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px groove var(--light-grey);
}
.side-widget:last-child {
  border-bottom: 0;
}
.side-widget h6 {
  width: 90%;
  font-size: 1.1rem;
}
.side-widget i {
  font-size: 1rem;
  margin-right: .5rem;
}
.side-widget p {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.side-widget input {
  font-size: 1rem;
  color: var(--medium-grey);
  line-height: 1.2rem;
  margin: 0;
  width: 75%;
  height: 2rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.side-widget button {
  margin: 0;
  font-size: 1rem;
  border: 0;
  color: white;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  background-color: var(--main-color);
  width: 25%;
  height: 2rem;
}
.side-widget button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--secondary-color);
}
.upload input {
  width: 100%;
  border-radius: .3rem;
}
@media (max-width: 1000px) {
  html {
    font-size: .9em;
  }
  .main-area {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "content" "sidebar";
  }
  .content-sidebar {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-template-areas: "social social social" "link widget upload";
  }
  .social-media {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .facebook, .twitter, .linkedin {
    width: 30%;
    font-size: .8rem;
  }
  .side-widget {
    border-bottom: 0;
  }
  .side-widget h6 {
    font-size: .8rem;
  }
  .side-widget i {
    font-size: .8rem;
  }
  .side-widget p {
    font-size: .7rem;
  }
}
@media (max-width: 780px) {
  html {
    font-size: .8em;
  }
  body {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template: "left" "top" "bottom";
  }
  .hide-menu {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
  .hide-menu aside {
    display: none;
  }
  input {
    width: 25%;
  }
  aside {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: .5rem;
  }
  h4 {
    padding: .5em;
    margin-top: 0;
    border-top: 0;
  }
  .profile {
    width: 25%;
  }
  .aside-nav {
    width: 25%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: .8em;
  }
  .profile {
    display: none;
  }
  .aside-nav {
    width: 33.333%;
  }
  .main-content li p {
    width: 100%;
  }
  h6 {
    width: 100%;
  }
  .main-content li {
    flex-wrap: wrap;
  }
  .content-sidebar {
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 0;
    grid-template-areas: "social" "link" "widget" "upload";
  }
  .facebook, .twitter, .linkedin {
    width: 100%;
    font-size: .8rem;
  }
}
